.separator {
    flex: 1;
    text-align: center;
    border-bottom: 1px solid #ccc;
    height: 8px;
    line-height: 20px;
    margin: 10px 12px 18px;
    color: #444;
}
.separator span {
    background-color: #fff;
    padding: 0 10px;
    height: 20px;
}