@media screen and (max-width: 600px) {
    .modalTitle {
        font-size: 20px;
    }
}

.headerContain {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}
.titleContain {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.modalTitle {
    margin: 0 15px 0 0;
}
.modalSubtitle {
    margin: 5px 0;
}
.modalOpenIndicator {
    min-width: 40px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #2ed573;
}
.modalClosedIndicator {
    min-width: 40px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #ff4757;
}
.row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
}
.row p {
    margin: 5px 0 0;
}
.row span {
    margin: 0 10px 0 0;
}