.weatherHeader {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ddd;
}
.weatherHeader h1 {
    font-weight: normal;
    margin: 0 5px;
    font-size: 5em;
}
.weatherHeader p {
    margin: 0 5px;
    font-size: 1em;
}
.weatherIcon {
    margin: 5px 0 0;
    font-size: 2.5em;
}
.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.forecastContain {
    text-align: center;
}
.forecastTable {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}
.forecastTable th, .forecastTable tr {
    text-align: center;
}
.forecastDate {
    text-align: left !important;
}
.forecastRow p {
    margin: 3px 0;
}
.tableWeatherIcon {
    margin: 5px 0 0;
    font-size: 1.5em;
}